@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body,
html,
#map {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #f1f1f1;
}

svg:not(:root) {
  overflow: hidden;
}

.hidden {
  display: none;
}
/*========================================= Panel de filtro de datos ======================*/
/* Configuración del boton de filtros de datos */
#botonFiltroDatosAbrir {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 999999;
  margin-right: 3vh;
  margin-top: 10vh;
  border-radius: 5px;
  border-color: #00ace9;
  border-width: 3px;
  color: #000000;
  background-color: #00ace9;
  /* transition: 1s ease all; */
}
#botonFiltroDatosCerrar {
  visibility: hidden;
}
#botonFiltroDatosCerrar.active {
  visibility: visible;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 999;
  margin-right: 1.5vh;
  margin-top: 1.5vh;
  border-radius: 5px;
  border-color: #00ace9;
  border-width: 3px;
  color: #000000;
  background-color: #00ace9;
  /* transition: 1s ease all; */
}
#botonFiltroDatosAbrir.active {
  visibility: hidden;
}

/* Configuración del panel de filtro de datos */
#divContentFiltroDatos {
  display: flex;
  justify-content: right;

}
#filtroDatos {
  /* transition: 3s ease all; */
  visibility: hidden;
  position: absolute;
}
#filtroDatos.active {
  visibility: visible;
  border-radius: 5px;
  position: absolute;
  width: 90%;
  max-height: 95%;
  z-index: 999;
  background-color: #ffffff;
  margin-right: 1.5vh;
  margin-top: 1.5vh;
  padding: 1.5vh;
  transition: 1s ease-in-out all;
  margin-left: 10vh;
}
.footer {
  position: absolute;
  border-top: 0.5px solid #e3e3e3c0;
  /* background-image: url(../imagen-footer-red.jpg); */

  /* background: linear-gradient(rgb(255, 255, 255),rgb(173, 220, 249), rgb(130, 197, 223), rgb(121, 192, 250)); */
  background-size: cover;
  background-color: #70d1ef;
  height: 50px;
  width: 100%;
  /* padding: auto; */
  margin-left: -1.5vh;
  margin-right: -1.5vh;
  bottom: 0;
  padding: 1vh;
  border-radius: 5px;
  }
#logo-footer {
  margin-top: -0.3vh;
}
#titulo-footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  margin-bottom: 2vh;
  padding-right: 3vh;
}
#filtro-departamento {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  margin-bottom: 1vh;
}
#boton-aplicar-filtro {
  margin-top: -2vh;
  margin-bottom: 5vh;
}
#boton-graficar, #boton-descargar, #grafico-pluviometros-cheked, #boton-reset {
  visibility: hidden;
  margin-top: -2vh;
  margin-bottom: 5vh;
}
#boton-graficar.active, #boton-descargar.active, #boton-reset.active {
  visibility: visible;
  margin-top: -2vh;
  margin-bottom: 5vh;
}
#checkbox-pluviometros {
  width: 15px;
  height: 15px;
  margin-right: 1vh;
  color: green;
}
#nombre-checkbox-pluviometros {
  vertical-align: middle;
  font-weight: 500;
}
#probar {
  background-color: red;
}
#slct2 {
  max-height: 45vh;
  overflow: auto;
  margin-top: 1vh;
}
#contentBotonFiltroDatos {
  display: block;

}
#slct1.active, #slct2.active, #show.active,#show1.active,#show2.active  {
  visibility: hidden;
}

/*========================================= Fin Panel de filtro de datos ======================*/
.active-sidebar .leaflet-left {
  transform: translateX(280px);
}

.sidebar {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 420px;
  z-index: 99999;
  background: rgb(255, 255, 255);
  overflow: hidden;
  height: auto;
  bottom: 1em;
  transform: translateX(calc(-100% - 20px));
  box-shadow: 0px 0px 22px -11px rgba(66, 68, 90, 1);
}

.active-sidebar .sidebar {
  max-width: 280px;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  height: calc(100% - 20px);
  width: 100%;
  transform: translateX(0);
}
 
@media (max-width: 750px) {
  .sidebar {
    top: 10px;
    left: 10px;
    border-radius: 5px;
    max-height: 600px;
    transition: transform 0.3s ease-in-out;
  }
  .active-sidebar .sidebar {
    max-width: 290px;
    width: 100%;
    transform: translateX(0);
    max-height: 600px;
    margin-top: 15%;
    transition: transform 0.3s ease-in-out;
  }

  .active-sidebar .leaflet-left {
    transform: translate(0px, 0px);
    transition: transform 350ms;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1200px){
  .sidebar {
    top: 10px;
    left: 10px;
    border-radius: 5px;
    max-height: 60vh;
    transition: transform 0.3s ease-in-out;
  }
  .active-sidebar .sidebar {
    max-width: 290px;
    width: 100%;
    transform: translateX(0);
    max-height: 60vh;
    margin-top: 15%;
    transition: transform 0.3s ease-in-out;
  }

  .active-sidebar .leaflet-left {
    transform: translate(0px, 0px);
    transition: transform 350ms;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 3000px){
  .sidebar {
    top: 10px;
    left: 10px;
    border-radius: 5px;
    max-height: 700px;
    transition: transform 0.3s ease-in-out;
  }
  .active-sidebar .sidebar {
    max-width: 380px;
    width: 100%;
    transform: translateX(0);
    max-height: 60vh;
    margin-top: 5%;
    transition: transform 0.3s ease-in-out;
  }

  .active-sidebar .leaflet-left {
    transform: translate(0px, 0px);
    transition: transform 350ms;
  }
}
@media (max-height: 900px) {
  @media (min-width: 1000px) {
    .active-sidebar .sidebar {
      max-height: 75vh;
      transition: transform 0.3s ease-in-out;
    }
  }
}
.close-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 5px;
  border: 2px solid darkgray;
  padding: 5px;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  z-index: 1;
  background: none;
}

.sidebar .close-button svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-left: -2px;
}

.sidebar svg {
  display: block;
  width: 20px;
  height: 20px;
  fill: #3f3f3f;
  pointer-events: none;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
}

/* sidebar-content */
.sidebar-content {
  height: inherit;
}

.sidebar-content .titulo {
  position: sticky;
  top: 0;
  color: #FFF;
  background: #00ace9;
  padding: 10px 150px 10px 15px;
  margin: 0px -80px 0px 0px;
}

.sidebar-content img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sidebar-content small {
  display: block;
  padding: 5px 15px;
}

.info-description {
  padding: 5px 15px 15px;
  line-height: 150%;
}

.info-content {
  height: 100%;
  overflow: auto;
  top: 3em;
  padding-bottom: 50px;
}

  
.marker-id {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 1em;
  left: 10px;
  color: rgb(8, 8, 8);
}
.marker-id2 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 2em;
  left: 10px;
  color: rgb(8, 8, 8);
}
.marker-id3 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 3em;
  left: 10px;
  color: rgb(8, 8, 8);
}
.marker-id4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 4em;
  left: 10px;
  color: rgb(8, 8, 8);
}
.marker-id5 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 7em;
  left: 10px;
  color: rgb(8, 8, 8);
}
.marker-id6 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 8em;
  left: 10px;
  color: rgb(23, 33, 86);
}
.marker-id7 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 9em;
  left: 10px;
  color: rgb(18, 20, 100);
}
.marker-id8 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 5em;
  left: 10px;
  color: rgb(8, 8, 8);
}
.marker-id9 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 6em;
  left: 10px;
  color: rgb(8, 8, 8);
}
#botonPopupMasDatos {
  background-color: #00ace9;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 10em;
  margin-left: 10px;
  max-width: 50%;
  color: rgb(255, 255, 255);
}
#boton-aplicar-filtro, #boton-graficar, #boton-descargar, #boton-reset {
  background-color: #00ace9;
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
#botonPopupMasDatos:hover{
  background-color: #344968 !important;
}
@media (min-width: 800px) {
  .marker-id {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 1em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .marker-id2 {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 2em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .marker-id3 {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 3em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .marker-id4 {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 4em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .marker-id5 {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 7em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .marker-id6 {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 8em;
    left: 10px;
    color: rgb(23, 33, 86);
  }
  .marker-id7 {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 9em;
    left: 10px;
    color: rgb(18, 20, 100);
  }
  .marker-id8 {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 5em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .marker-id9 {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 6em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .botonPopupMasDatos {
    background-color: #00ace9;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 8em;
    margin-left: 10px;
    max-width: 50%;
    color: rgb(18, 20, 100);
  }
  .sidebar-content .titulo {
    position: sticky;
    top: 0;
    font-size: 15px;
    color: #FFF;
    background: #00ace9;
    padding: 10px 150px 10px 15px;
    margin: 0px -80px 0px 0px;
  }
  .close-button {
    top: 5px;
    padding: 2px;
    width: 25px;
    height: 25px;
  }
  .sidebar .close-button svg {
    fill: #fff;
    width: 20px;
    height: 20px;
    padding: 0px;
  }

}
@media (min-width: 800px) {
  @media (max-width: 1400px) {
    #titulo-logo {
       visibility: hidden;
    }
    .marker-id {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 1em;
      left: 10px;
      color: rgb(8, 8, 8);
    }
    .marker-id2 {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 2em;
      left: 10px;
      color: rgb(8, 8, 8);
    }
    .marker-id3 {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 3em;
      left: 10px;
      color: rgb(8, 8, 8);
    }
    .marker-id4 {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 4em;
      left: 10px;
      color: rgb(8, 8, 8);
    }
    .marker-id5 {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 7em;
      left: 10px;
      color: rgb(8, 8, 8);
    }
    .marker-id6 {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 8em;
      left: 10px;
      color: rgb(23, 33, 86);
    }
    .marker-id7 {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 9em;
      left: 10px;
      color: rgb(18, 20, 100);
    }
    .marker-id8 {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 5em;
      left: 10px;
      color: rgb(8, 8, 8);
    }
    .marker-id9 {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 6em;
      left: 10px;
      color: rgb(8, 8, 8);
    }
    .botonPopupMasDatos {
      background-color: #00ace9;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: 14em;
      margin-left: 10px;
      max-width: 50%;
      color: rgb(18, 20, 100);
    }
    .sidebar-content .titulo {
      position: sticky;
      top: 0;
      font-size: 22px;
      color: #FFF;
      background: #00ace9;
      padding: 10px 150px 10px 15px;
      margin: 0px -80px 0px 0px;
    }
    .close-button {
      top: 8px;
      padding: 0px;
      width: 35px;
      height: 35px;
    }
    .sidebar .close-button svg {
      fill: #fff;
      width: 35px;
      height: 35px;
      padding: 0px;
    }
    
  }
  
}
@media (min-width: 1200px) {
  
  .marker-id {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 0em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .marker-id2 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 1em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .marker-id3 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 2em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .marker-id4 {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 3em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .marker-id5 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 5em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .marker-id6 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 6em;
    left: 10px;
    color: rgb(23, 33, 86);
  }
  .marker-id7 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 7em;
    left: 10px;
    color: rgb(18, 20, 100);
  }
  .marker-id8 {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 4em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .marker-id9 {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 5em;
    left: 10px;
    color: rgb(8, 8, 8);
  }
  .botonPopupMasDatos {
    
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 11em;
    margin-left: 10px;
    max-width: 50%;
    color: rgb(18, 20, 100);
  }
  
  .sidebar-content .titulo {
    position: sticky;
    top: 0;
    font-size: 22px;
    color: #FFF;
    background: #00ace9;
    padding: 20px 150px 20px 15px;
    margin: 0px -80px 0px 0px;
  }
  .close-button {
    top: 15px;
    padding: 0px;
    width: 40px;
    height: 40px;
  }
  .sidebar .close-button svg {
    fill: #fff;
    width: 40px;
    height: 40px;
    padding: 0px;
  }
  
}
.info-content::-webkit-scrollbar {
  width: 10px;
}

.info-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 81, 255, 0.3);
}

.info-content::-webkit-scrollbar-thumb {
  background-color: #003764;
  outline: 1px solid #002449;
}
/* .table {
  display: flex;
} */
/* marker */


/* .active-sidebar .leaflet-marker-icon, */
.leaflet-marker-icon:hover {
  animation: border-pulse 1.5s infinite;
}

@keyframes border-pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
/*==========================================================*/
/*Ajustes del popup que oculta el mapa de fondo 
/*==========================================================*/

.contenedor-mapa .overlay {
  z-index: 999999;
  position: absolute;
	background-color: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}
.contenedor-mapa .overlay.active{
    visibility: visible;
}
.contenedor-mapa .overlay .popup-popup{
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	padding: 10px;
	text-align: center;
  border-radius: 25px;
	/* width: 65%;
    max-height: 70%;
    overflow: auto;
    margin-bottom: -5%; */
  height:75%;
  width: 65%;
	
	/* transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0; */
}
@media (max-width: 768px) {
  .contenedor-mapa .overlay .popup-popup{
    height:75%;
    width: 75%;
  }

}


@media (max-width: 600px) {
  .contenedor-mapa .overlay .popup-popup{
    height:65%;
    width: 90%;
  }
}
.contenedor-mapa .overlay .popup-popup .btn-cerrar-popup {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #00ace9; /* Color de fondo */
	padding: 9px 15px; /* Relleno del boton */
	position: absolute;
	bottom: 20px;
	right: 10px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

.contenedor-mapa .overlay .popup-popup .btn-cerrar-popup:hover {
    color: #ffffff;
    padding: 18px 30px; /* Relleno del boton */
    background-color: #344968; /* Color de fondo */
}
.popup-popup {
  display: block;
  background-color: rgba(128, 128, 128, 0.179);
}
.ulPopupMasDatos {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.divContdata {
  background-color: #f2f3f4;
  height: 80%;
  text-align: justify;
  display: block;
  border-radius: 25px;
}
.divContdata.active {
  visibility: hidden;
}
#botonDescarga {
  position: relative;
  align-items: flex-end;
  margin-top: 10px;
  background-color: #1786e2;
}

/*==========================================================*/
/*Ajustes de la tabla de resumen de los primeros 3 datos*/
/*==========================================================*/
.tablaDatos {
  margin-top: 7em;
  margin-left: 10px;
  width: auto;
}
.tableEncab {
  display: flex;
  justify-content: space-around;  
}
.tableTr {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 1em;
  display: grid;
  text-align: center;  
}

.tableTh {
  border-bottom: 1px solid black;
  text-align: center;
}

.tableTrpre {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  display: grid;
  text-align: center;
}

@media (min-width: 768px) {
  @media (max-width: 1200px) {
    .tablaDatos {
      margin-top: 8em;
    }
    .tableTr {
      font-size: 11px;
      border: 1px solid black;
      padding-left: 10px;
      padding-right: 2em;
      display: grid;
      text-align: center;
      white-space:nowrap
    }
    .tableTh {
      border-bottom: 1px solid black;
      text-align: center;
      margin-top: 10px;
      font-size: 13px;
      margin-bottom: 10px;
    }
    .tableTrpre {
      border: 1px solid black;
      padding-left: 10px;
      padding-right: 10px;
      display: grid;
      text-align: center;
      font-size: 13px;
    }
  }
  
}
@media (max-width: 450px) {
  .tablaDatos {
    margin-right: 1vh;
  }
  .tableTr {
    font-size: 11px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 1em;
    display: grid;
    text-align: center;
    white-space:nowrap
  }
  .tableTh {
    border-bottom: 1px solid black;
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    margin-bottom: 10px;
  }
  .tableThLug {
    border-bottom: 1px solid black;
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    padding-bottom: 10px;
  }
  .tableTrLug {
    font-size: 10px;
  }
  .tableTrpre {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    text-align: center;
    font-size: 11px;
  }
  .tableAg {
    visibility: hidden;
  }
}
/*Configuraciónes gráficas de los charts*/
.chart-Bar {
  margin: auto;
  margin-top: -60vh;
  visibility: hidden;
  position: absolute;
  justify-content: center;
  vertical-align: middle;
  transition: transform 0.8s ease-in-out;
}
.chart-Bar.active{
  margin: auto;
  margin-top: -35vh;
  visibility: visible;
  position: absolute;
  justify-content: center;
  vertical-align: middle;
  transition: transform 0.8s ease-in-out;
}
@media (max-width: 1200px) {
  .chart-Bar.active{
    font-size: 13px;
    margin-top: -65vh;
    margin-bottom: 30em;
    /* visibility: visible;*/
    position: relative;
    transition: transform 0.8s ease-in-out;
  }
}

@media (min-width: 600px) {
  @media (max-width: 800px) {
    .chart-Bar.active{
      font-size: 11px;
      margin-top: -20em;
      margin-bottom: 30em;
      visibility: visible;
      position: relative;
      transition: transform 0.8s ease-in-out;
    }
    #btn-descargar {
      width: 100%;
      margin-top: 10px;
      background-color: rgba(149, 149, 149, 0.542);
      position: absolute;
      display: flex;
      padding-left: 90%;
    }
    .btn-desc{
      z-index: 99999;
      padding: 0px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    }
    /* configurar botones */
    #botonpluv {
      background-color: #00ace9;
      border-color: black;
      border-width: 1px;
    } 
    #botonpluv1 {
      background-color: #00ace9;
      border-color: black;
      border-width: 1px;      
    } 
    #botonDescarga {
      background-color: #00ace9;
      border-color: black;
      border-width: 1px;
    }
    #botonpluv:hover{
      background-color: #344968 !important;
    }
    #botonpluv1:hover{
     background-color: #344968 !important;
    } 
    #botonDescarga:hover{
    background-color: #344968 !important;
    }
  }
  
}

@media (max-width: 600px) {
  .chart-Bar.active{
    font-size: 10px;
    margin-top: -28em;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0%;
    height: 75%;
    width: 95%;
    visibility: visible;
    position: relative;
    transition: transform 0.8s ease-in-out;
  }
  #btn-descargar {
    width: 100%;
    margin-top: 10px;
    background-color: rgba(149, 149, 149, 0.542);
    position: absolute;
    display: flex;
    padding-left: 90%;
  }
  .btn-desc{
    z-index: 99999;
    padding: 0px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  /* configurar botones */
  #botonpluv {
    background-color: #00ace9;
    border-color: black;
    border-width: 1px;
  } 
  #botonpluv1 {
    background-color: #00ace9;
    border-color: black;
    border-width: 1px;      
  } 
  #botonDescarga {
    background-color: #00ace9;
    border-color: black;
    border-width: 1px;
  }
  #botonpluv:hover{
    background-color: #344968 !important;
  }
  #botonpluv1:hover{
   background-color: #344968 !important;
  } 
  #botonDescarga:hover{
  background-color: #344968 !important;
  }
}
/* @media (max-height: 800px) {
  .chart-Bar.active{
    font-size: 9px;
    margin-top: -25em;
    visibility: visible;
    position: relative;
    transition: transform 0.6s ease-in-out;
  }
} */
@media (min-height: 1000px) {
  .chart-Bar.active{
    padding-left: 1em;
    padding-right: 1em;
    margin-top: -35em;
    visibility: visible;
    position: absolute;
    justify-content: center;
    vertical-align: middle;
    transition: transform 0.8s ease-in-out;
  }
  
}
/*Configuración del popup  para moviles*/
@media (min-width: 600px) {
  @media (max-height: 800px) {
    .contenedor-mapa .overlay .popup-popup{
      height:90%;
      width: 70%;
    }
    .chart-Bar.active{
      margin: auto;
      margin-top: -65vh;
      font-size: 11px;
      visibility: visible;
      position: absolute;
      justify-content: center;
      vertical-align: middle;
      transition: transform 0.8s ease-in-out;
    }
    
  }
}
@media (min-width: 800px) {
  @media (max-width: 1400px) {
    .tablaDatos {
      margin-top: 8em;
    }
    .contenedor-mapa .overlay .popup-popup{
      height:90%;
      width: 70%;
    }
    .chart-Bar.active{
      margin: auto;
      margin-top: -78vh;
      font-size: 11px;
      visibility: visible;
      position: absolute;
      justify-content: center;
      vertical-align: middle;
      transition: transform 0.8s ease-in-out;
    }
    #btn-descargar {
      width: 100%;
      margin-top: 10px;
      background-color: rgba(149, 149, 149, 0.542);
      position: absolute;
      display: flex;
      padding-left: 93%;
    }
    .btn-desc{
      z-index: 99999;
      padding: 0px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    }
    /* configurar botones */
    #botonpluv {
      background-color: #00ace9;
      border-color: black;
      border-width: 1px;
    } 
    #botonpluv1 {
      background-color: #00ace9;
      border-color: black;
      border-width: 1px;      
    } 
    #botonDescarga {
      background-color: #00ace9;
      border-color: black;
      border-width: 1px;
    }
    #botonpluv:hover{
      background-color: #344968 !important;
    }
    #botonpluv1:hover{
     background-color: #344968 !important;
    } 
    #botonDescarga:hover{
    background-color: #344968 !important;
    }
  }
}
@media (min-width: 1400px) {
  @media (max-width: 3600px) {
    .tablaDatos {
      margin-top: 9em;
    }
    .contenedor-mapa .overlay .popup-popup{
      height:90%;
      width: 70%;
    }
    .chart-Bar.active{
      margin: auto;
      margin-top: -78vh;
      font-size: 11px;
      visibility: visible;
      position: absolute;
      justify-content: center;
      vertical-align: middle;
      transition: transform 0.8s ease-in-out;
    }
    #btn-descargar {
      width: 100%;
      margin-top: 15px;
      background-color: rgba(149, 149, 149, 0.542);
      position: absolute;
      display: flex;
      padding-left: 96%;
    }
    .btn-desc{
      z-index: 99999;
      padding: 0px;
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
      /* configurar botones */
    #botonpluv {
      background-color: #00ace9;
      border-color: black;
      border-width: 1px;
    } 
    #botonpluv1 {
      background-color: #00ace9;
      border-color: black;
      border-width: 1px;      
    } 
    #botonDescarga {
      background-color: #00ace9;
      border-color: black;
      border-width: 1px;
    }
    #botonpluv:hover{
      background-color: #344968 !important;
    }
    #botonpluv1:hover{
     background-color: #344968 !important;
    } 
    #botonDescarga:hover{
    background-color: #344968 !important;
    }
    }}

/* Estilos aplicados al menu prencipal */
.nav-item{
    padding: 1vh;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(120, 121, 122);
}
.nav-item:hover {
    background-color: #999090;
    border-radius: 5px;
    transition: 0.15s ease-in-out;
}
#myDropdown{
    color: #000000;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#nav-link-active:hover, #myDropdown:hover{
    color: white;
    transition: 0.15s ease-in-out;
}

/* ========= Apartado de mapa =========== */

#MapContainer{
  z-index: 0;
}

/* Contenedor principal del encabezado*/
.header-container {
  height: 81px
}
#contenedor-principal{
  background-color: blue;
  color: white;
  position: fixed;
  top: 0;
  height: 81px;
  width: 100%;
  z-index: 5;
}

